@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Great+Vibes&display=swap');
@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar {
  background-image: linear-gradient(#38aecc, #edf7f5);
  font-style: italic;
}

.page-height {
  min-height: calc(100vh - 15.7rem);
}

.menu {
  background-image: linear-gradient(#4fb8d2, #d8edf0);
}

.menu .menu-text {
  font-family: 'Great Vibes', cursive;
  font-size: 1rem;
  padding: .9rem 1rem .5rem;
}

.username {
  padding: .35rem 1rem;
}

.button {
  background-color: #00a6fb;
  border-radius: 20px;
  padding: 1em 6.5em;
}

a {
  color: #00a6fb;
}

.footer {
  background-image: linear-gradient(#edf7f5, #38aecc);
}

.footer-content {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}

.form-container {
  background-color: #a1e2f3;
  border-color: #00a6fb;
  border-radius: 20px;
  width: 53rem;
}

.about-me {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px
}

.search-city-container {
  background-color: #a1e2f3;
  margin: 3rem 1rem 2.5rem;
  border-color: #00a6fb;
  width: 40rem;
  border-radius: 1.25rem;
  text-align: center;
}

.log-in-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.authenticaton-links {
  display: flex;
  justify-content: space-evenly;
  width: 20rem;
  margin-bottom: 1rem;
  align-items: center;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertically-center {
  justify-content: center;
}

.search-form-error {
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

.restaurant-tile {
  background-color: #a1e2f3;
  border-color: #00a6fb;
  border-radius: 20px;
  width: 45rem;
  height: 300px;
  padding: 0px;
  transition: box-shadow .3s;
}

.restaurant-tile:hover {
  box-shadow: -4px 4px #00a6fb;
}

.tile-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.tile-image {
  width: 250px;
  height: 100%;
  border-radius: 20px;
  margin-right: 2rem;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // font-family: 'Fredericka the Great', cursive;
  font-size: 35px;
  width: 30rem;
}

.review-tile {
  background-color: #a1e2f3;
  border-color: #00a6fb;
  border-radius: 20px;
  width: 30rem;
  p, h3, h5 {
    margin-bottom: 0rem;
  }
}

.clickable {
  padding: 10px;
  margin-bottom: .2rem;
  border-radius: 20px;
}

.clickable:hover {
  background-color: #00a6fb;
  color: white;
  cursor: pointer;
}

.save-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
  div, a{
    line-height: 50px;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
  }
  .save-buttons:hover {
    background-color: #00a6fb;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 15rem;
    height: auto;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  h3 {
    font-weight: bold;
  }
  p {
    width: 27rem;
  }
}

.background-photo {
  position: absolute;
  height: 95%;
  width: 100%;
  z-index: -1;
  mix-blend-mode: color-burn;
  opacity: .3;
}

.title {
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  margin-top: 3rem;
}

.greeting {
  margin-bottom: 1rem;
}

.greeting h3 {
  font-size: 3.5rem;
}

.personal-greeting {
  font-weight: bold;
}

.landing-page-link {
  font-size: 1.5rem;
}

.log-in-header {
  font-size: 3rem;
  margin-top: 1.5rem;
}

.log-in-list {
  font-size: 1.5rem;
  text-align: left; 
}

.list-title {
  font-size: 3rem;
}

.show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-list {
  position: absolute;
  background-image: linear-gradient(#38aecc, #edf7f5);
  border-radius: .375rem;
  margin-top: 35px;
  z-index: 10;
  width: 9rem;
}

.info-banner {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.show-page-image {
  border-radius: 2rem;
  width: 25rem;
  height: 20rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.show-page-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    font-size: 2.5rem;
  }
}

.new-review-form {
  background-color: #a1e2f3;
  border-color: #00a6fb;
  border-radius: 20px;
  width: 30rem;
}

.review-form-submit {
  margin-bottom: 0rem;
}

.green-font {
  color: green;
}

.red-font {
  color: rgb(200, 0, 0);
}

.saved-lists {
  display: flex;
  flex-direction: row;
}

.saved-page-title {
  text-align: center;
}

.half-saved-page {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-button {
  display: none;
}

@media (min-width: 1502px) {
  .saved-page {
    width: 94rem;
    margin: auto;
  }
}

@media (max-width: 1440px) {
  .saved-page {
    flex-direction: column;
    align-items: center;
  }

  .saved-lists {
    flex-direction: column;
  }

  .half-saved-page {
    width: 100%;
  }
}

@media (max-width: 886px) {
  .menu-button {
    display: block;
    cursor: pointer;
  }

  .title {
    font-size: 6rem;
  }

  .greeting h3 {
    font-size: 2.5rem;
  }
  
  .log-in-header {
    font-size: 2rem;
  }

  .log-in-list {
    font-size: 1.2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .menu-item {
    display: none;
  }

  .form-container {
    width: 27rem;
  }

  .search-city-container {
    width: 28rem;
  }

  .list-title {
    font-size: 2.5rem;
  }

  .restaurant-tile {
    width: 27rem;
    height: auto;
    margin-right: 0rem;
  }

  .tile-content {
    flex-direction: column;
    align-items: center;
  }

  .tile-image {
    width: 100%;
    height: auto;
    margin-right: 0rem;
  }

  .restaurant-info {
    align-items: center;
    text-align: center;
    width: 27rem;
  }

  .save-options {
    margin-right: 0rem;
    margin-bottom: .5rem;
  }

  .show-page {
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 2.2rem;
    }
  }

  .info-banner {
    flex-direction: column;
  }

  .show-page-details {
    align-items: center;
    h4 {
      font-size: 1.6rem;
    }
  }

  .review-tile {
    h3 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }

  .saved-page h2 {
    font-size: 3rem;
  }

  .saved-lists {
    flex-direction: column;
  }
}
